@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background: #fff;
}

header .top{
    width:100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: auto;
    justify-content: space-between;
    padding:30px 200px;
    background: transparent;
    margin-bottom: 20px;
}
.logo a{
    text-decoration: none;
    font-size:1.3em;
    font-weight: 700;
    color:#f9b17a;
}

.navigation a{
    position: relative;
    margin-right: 30px;
    text-decoration: none;
    color: #f9b17a;
    font-size:1.1em;
    font-weight: 500;
}

.navigation a::after{
    content:'';
    position: absolute;
    width:100%;
    height: 3px;
    background: #f9b17a;
    border-radius: 5px;
    left:0;
    bottom:-5px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    transform-origin:right ;
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .login-signup-btn{
    width: 120px;
    height: 50px;
    border-radius: 6px;
    background:transparent;
    color: #fff;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    font-size:1.2em;
    font-weight: 600;
    transition: 0.5s ease;
    margin-right: 10px;
}

.navigation .login-signup-btn:hover{
    color:black;
    background: #f9b17a;
}

.main{
    background: #676f9d;
    border-radius: 15px;
    margin:100px;
    padding: 50px;
    box-shadow: 5px 5px 50px 2px ;
}

.main h2{
    color:#fff;
    text-align: center;
    margin-bottom: 10px;
}

.about-us p{
    margin-bottom: 40px;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
}
.main .img{
    display: flex;
    justify-content: space-between;
}
.details{
    color: #fff;
    padding-top: 10px;
    font-weight: 500;
    font-size: 1.1em;
}
.contact-info i{
    font-size: 1.3em;
    transition: .5s ease;
}
.contact-info .fa-facebook:hover{
    color: #4267B2;

}

.contact-info a{
    text-decoration: none;
    color:#fff;

}

footer h2{
    text-align: center;
    color: #fff;
}

footer{
    width:100%;
    padding:30px 200px;
    background: transparent;
}

.contact-info ul{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.contact-info ul li {
    display: flex;
    list-style: none;
    color: #676f9d;
    font-size: 1.2em;
    font-weight: 600;
    align-items: center;
    align-content: center;
}

.contact-info ul li .info{
    color: #fff;
    font-weight: 500;

}

.contact-info .fa-envelope:hover{
    color: #fff;
}

.contact-info .fa-phone:hover{
    color:#f9b17a;
}

